<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'LITCVideoPlayerBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block litc_video_player_content %}
            {% endblock litc_video_player_content %}
        </div>
    </body>
</html>
